data/
dist/
node_modules
output/*
!output/.gitkeep
playground/
logging/
tsconfig.tsbuildinfo
*.tsbuildinfo
.env
*.db
local_scripts/

# IDE / OS / local artefacts
.DS_Store
.idea/
*.tgz
/output.jsonld
